doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title News Flash
    // Bootstrap
    link(href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='default.css')
  body(ng-app='news')
    div(id='main' class='container-fluid' ng-controller='searchController as search')
      div(class='row')
        div(class='content')
          div(class='fade-first') News
          div(class='fade-second') Flash
        h3(id='bias') Pick your Bias
        div(id='search-box' class='col-xs-4 col-xs-offset-4')
          button(class='btn btn-primary' ng-click='search.sendPositive()')
            i(class='fa fa-thumbs-up' aria-hidden='true')
          div(class='divider')
            p - or -
          button(class='btn btn-primary' ng-click='search.sendNegative()')
            i(class='fa fa-thumbs-down' aria-hidden='true')
          br
          br
          p(class='s')
            input(id='search' placeholder='Search...' type='text' ng-model='search.term')
          p
            a(ng-click='search.recentQueries()') Recent Searches
      div(class='row')
        div(class='col-xs-8 col-xs-offset-2' id='results')
          h5(class='story-title' ng-repeat='story in search.newsStories')
            a(ng-href='{{story.source.enriched.url.url}}') {{story.source.enriched.url.title}}
            br
            br
            p {{story.source.enriched.url.text}}
            br
          h3(ng-repeat='search in search.searches')
            p {{search.query}}

    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js')
    script(src='http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.3.js')
    script(src='default.js')
